
circle { 
    fill:var(--colour-ochre);
    stroke:var(--colour-white);
    transition: all .2s ease-in-out;
 }

circle:hover{ 

    transform: scale(1.1);
 }


.text:hover{
    opacity: 100%;
    transition: all 1.1s ease-in-out;
 }

 .text{
     fill:var(--colour-warm-white);
     font-weight: bolder;
 }

.hidden{
    display:hidden;
}