

{% extends "template.html" %}

{% block content %}


<section class="section">
    <h1 class="title">Create new Post</h1>
    <h2 class="subtitle">Enter post details here</h2>
        <form>

            <input class="input" type="text" placeholder="Title"><br><br>

            <input class="input" type="text" placeholder="Tagline"><br><br>

            <input class="input" type="text" placeholder="Body"><br><br>

            <button class="button is-danger" type="submit" placeholder="Upload images">Upload Images</button>
            
            <input class="button" type="submit" placeholder="Submit">
        </form>
</section>

{% endblock %}