{% extends "template.html" %}
{% block content %}

      {% for message in get_flashed_messages() %}
      <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert">
            &times;
          </button>
          {{ message }}
      </div>
    {% endfor %}
      <div class="container">
  
  
        <section class="hero">
          <div class="hero-body">
            <h1 id="Headline" class="title is-size-1">Alison Abroad</h1>
            <h2 class="subtitle is-size-4	">A place to see all the wonderful things that Alison has seen.</p>
          </div>
        </section>
        
        <section class="section">
        <div class="tile is-ancestor">
          <div class="tile is-vertical is-8">
            <div class="tile">
              <div class="tile is-parent is-vertical">
                
                <article id="Wales" class="tile is-child notification is-primary">
                  <a class="links" href={{url_for ('wales')}}>
                    <p class="title links">Wales</p>
                    <p class="subtitle">Rugged Coastline, beautiful valleys, House-Elf graves and Cardiff*.</p>
                    <p class="is-size-7">*Definitely not where Dr Who Ep.1 was filmed.</p>
                  </a>
                </article>
    
      

                <article id="England" class="tile is-child notification is-warning">
                  <a href={{url_for ('england')}}> 
                    <p class="title">England</p>
                    <p class="subtitle">The Lake District to Brighton.</p>
                  </a>
                </article>

              </div>
              <div class="tile is-parent">
                <article id="WHW" class="tile is-child notification is-info">
                  <a href={{url_for('WHW')}}>
                  <p class="title">West Highland Way</p>
                  <p class="subtitle">Milngavie to Fort William by foot</p>
                  <figure class="image is-4by3">
                    <img src={{url_for('static', filename='images/whwPhoto.jpg')}}>
                  </figure></a>
                </article>
              </div>
            </div>
            <div class="tile is-parent">
              <article id="Munros" class="tile is-child notification is-danger">
                <a href={{url_for('munros')}}>
                <p class="title">The Munros</p>
                <p class="subtitle">Scotland's exclusive 914.4 meter or higher club</p>
                <div class="content">
                  Ben Nevis, Stuc 'a Chron, Loch Lochy...
                </div></a>
              </article>
            </div>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child notification is-success">
              <div class="content">
                <div id="retainable-rss-embed" 
                data-rss="https://medium.com/feed/@alisonbuckley1994"
                data-maxcols="1" 
                data-layout="slider" 
                data-readmore="Read the rest" 
                data-buttonclass="alert-warning" 
                data-offset="-100"></div>
              </div>
            </article>
          </div>
        </div>
      </section>
      </div>
{% endblock %}