{% extends "template.html" %}
{% block content %}

      {% for message in get_flashed_messages() %}
      <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert">
            &times;
          </button>
          {{ message }}
      </div>
    {% endfor %}


        <section class="hero is-danger">
            <div class="hero-body">
              <p class="title">
                The Scottish Munros
            </p>
              <p class="subtitle">
8/282              </p>
            </div>
          </section>
          <section class="section is-medium">
            <h1 class="title">Medium section</h1>
            <h2 class="subtitle">
              A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading.
            </h2>
            <div class="tile is-ancestor">
                <div class="tile is-vertical is-8">
                  <div class="tile">
                    <div class="tile is-parent is-vertical">
                      <article class="tile is-child notification is-danger">
                        <img src={{url_for('static', filename='images/AlisonLochLochy.jpg')}}>
                      </article>
                      <article class="tile is-child notification is-danger">
                        <img src={{url_for('static', filename='images/AlisonLochLochy3.jpg')}}>

                      </article>
                    </div>
                    <div class="tile is-parent">
                      <article class="tile is-child notification is-danger">

                            <img src={{url_for('static', filename='images/AlisonLochLochy2.jpg')}}>
                            <br><br>
                            <img src={{url_for('static', filename='images/AlisonLochLochy2.jpg')}}><br><br>

                            <img src={{url_for('static', filename='images/AlisonLochLochy2.jpg')}}>

                      </article>
                    </div>
                  </div>
                  <div class="tile is-parent">
                    <article class="tile is-child notification is-danger">
                      <p class="title">Wide tile</p>
                      <p class="subtitle">Aligned with the right tile</p>
                      <div class="content">
                        <!-- Content -->
                      </div>
                    </article>
                  </div>
                </div>
                <div class="tile is-parent">
                  <article class="tile is-child notification is-danger">
                    <div class="content">
                        <img src={{url_for('static', filename='images/MarcLochLochy.jpg')}}>
                        <br><br>
                        <img src={{url_for('static', filename='images/AlisonTarmachan.jpg')}}><br><br>

                        <img src={{url_for('static', filename='images/BothTarmachan.jpg')}}>
                    </div>
                  </article>
                </div>
              </div>


          </section>
          
    


{% endblock %}