<html>
<head> 
<title>Alison Abroad</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
<link rel="stylesheet" href={{url_for('static', filename='styles/styles.css')}}>

<link href="https://fonts.googleapis.com/css2?family=Bad+Script&display=swap" rel="stylesheet">

</head>

<body>

    <header>
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img src={{url_for('static', filename='images/AALogo.svg')}} width="60" height="60">
          </a>
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>


      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" 
              href={{ url_for ('home') }}>Home</a>            

              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                  Adventures
                </a>
        
                <div class="navbar-dropdown">
                  <a class="navbar-item" href={{ url_for ('WHW') }}>
                    West Highland Way
                  </a>
                  <a class="navbar-item" href={{ url_for ('munros') }}>
                    The Munros
                  </a>
                  <a class="navbar-item" href={{ url_for ('england') }}>
                    England
                  </a>
                  <a class="navbar-item" href={{ url_for ('wales') }}>
                    Wales                  
                  </a>
                </div>
              </div>
            </div>
      

          </div>
      
        </div>
      </nav>
    </header>


    <main id="main" role="main">

    <div id="content">{% block content %}{% endblock %}</div>
  </main>

    <footer class="footer">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>Please enjoy the content!</p>
      </div>
    </footer>
    <script src="https://www.twilik.com/assets/retainable/rss-embed/retainable-rss-embed.js"></script>

</body>
</html>

