.album{
    background: #F3C8A3;

}
#main{
    background: #F2A988;
padding-bottom: 30px;
}

#headline{
font-family: 'Dancing Script', cursive;
}

.footer{
    background: #FFD8D6;

    color:#fff;
}
.card{
    background-color: #ffede4;
    color:#fff;
}

.links a{
    text-decoration: none;
  }


  a:hover, a:visited, a:link, a:active
{
    text-decoration: none!important;
}

#Wales, #England, #WHW, #Munros{
    transition: transform .4s; /* Animation */
}
#Wales:hover, #England:hover, #WHW:hover, #Munros:hover{
    z-index: 2;
    transform: scale(1.5);
}